<!DOCTYPE html>
<html>
  <head>
    <title>Photoport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'home.css', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="nav">
      <ul class="navlist">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Me", pages_about_path %></li>
        <li><%= link_to "Gallery", pages_gallery_path %></li>
      </ul>
    </div>
    
    <footer>
      <ul class="socials">
        <li class="sociallinks"><%= link_to "Facebook", "http://www.facebook.com/Spartan626" %></li>
        <li class="sociallinks"><%= link_to "Instagram", "http://www.instagram.com/mileup_photo/" %></li>
        <li class="sociallinks"><%= link_to "LinkedIn", "https://www.linkedin.com/in/kyle-williamson-dev/" %></li>
        <li class="sociallinks"><%= link_to "Pinterest", "https://www.pinterest.com/theactualkyle/" %></li>
      </ul>
    </footer>

    <%= yield %>
  </body>
</html>
