<!DOCTYPE html>
<html>
  <head>
    <title>Photoport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="navbar">
      <ul class="navlist">
        <%= link_to "Home", root_path %>
        <%= link_to "About Me", pages_about_path %>
        <%= link_to "Gallery", pages_gallery_path %>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
