<!DOCTYPE html>
<html>
  <head>
    <title>Web Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'home.css', media: 'all' %>
    <%= stylesheet_link_tag 'contact.css', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="nav">
      <h3><%= link_to "Check out my Photography", "https://www.modelmayhem.com/4704027" %></h3>
      <%# <h2>Logo</h2> %>
      <ul class="navlist">
        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li><%= link_to "Portfolio", pages_portfolio_path, class: "nav-link" %></li>
        <li><%= link_to "Contact", pages_contact_path, class: "nav-link" %></li>
      </ul>
      <div class="burger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
    
    <footer>
      <ul class="socials">
        <li class="sociallinks"><%= link_to "Facebook", "http://www.facebook.com/Spartan626" %></li>
        <li class="sociallinks"><%= link_to "Instagram", "http://www.instagram.com/mileup_photo/" %></li>
        <li class="sociallinks"><%= link_to "LinkedIn", "https://www.linkedin.com/in/kyle-williamson-dev/" %></li>
        <li class="sociallinks"><%= link_to "Pinterest", "https://www.pinterest.com/theactualkyle/" %></li>
      </ul>
    </footer>

    <%= yield %>
  </body>
</html>
